In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
 pip install findspark

Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl.metadata (352 bytes)
Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
from pyspark.sql import SparkSession
spark=(SparkSession.builder.appName("emp").getOrCreate())
spark

In [ ]:
emp_data=[
    ["001","100","john","20","male","50000","2015-01-01"],
    ["002","101","jane","23","female","60000","2015-11-01"],
    ["003","102","alice","10","female","2000","2000-01-01"],
    ["004","103","any","19","male","25000","2014-02-02"],
    ["005","104","james","29","female","10000","2005-01-01"],
    ["006","105","amina","60","female","50000","2015-01-01"]]

In [ ]:
columns="emp_id string,dep_id string,name string,age string,gender string,salary string,hire_date string"

In [ ]:
emp=spark.createDataFrame(data=emp_data,schema=columns)

In [ ]:
emp.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- dep_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- hire_date: string (nullable = true)

In [ ]:
emp.show()

+------+------+-----+---+------+------+----------+
|emp_id|dep_id| name|age|gender|salary| hire_date|
+------+------+-----+---+------+------+----------+
|   001|   100| john| 20|  male| 50000|2015-01-01|
|   002|   101| jane| 23|female| 60000|2015-11-01|
|   003|   102|alice| 10|female|  2000|2000-01-01|
|   004|   103|  any| 19|  male| 25000|2014-02-02|
|   005|   104|james| 29|female| 10000|2005-01-01|
|   006|   105|amina| 60|female| 50000|2015-01-01|
+------+------+-----+---+------+------+----------+

define the schema

In [ ]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [ ]:
schema=StructType([StructField("name",StringType(),nullable=False),
                   StructField("age",IntegerType(),nullable=False),
                   StructField("city",StringType(),nullable=True)
                   ])

creating another dataframe to show how to make nullable true to false

In [ ]:
data=[("alice",25,"newyork"),
      ("bob",20,"los angeline")]

creating the table using spark with manually defined schema

how to make the nullable true

In [ ]:
dummy_data=spark.createDataFrame(data,schema)
dummy_data.printSchema()

root
 |-- name: string (nullable = false)
 |-- age: integer (nullable = false)
 |-- city: string (nullable = true)

In [ ]:
dummy_data.show()

+-----+---+------------+
| name|age|        city|
+-----+---+------------+
|alice| 25|     newyork|
|  bob| 20|los angeline|
+-----+---+------------+

to show the top data

In [ ]:
emp.show(5)

+------+------+-----+---+------+------+----------+
|emp_id|dep_id| name|age|gender|salary| hire_date|
+------+------+-----+---+------+------+----------+
|   001|   100| john| 20|  male| 50000|2015-01-01|
|   002|   101| jane| 23|female| 60000|2015-11-01|
|   003|   102|alice| 10|female|  2000|2000-01-01|
|   004|   103|  any| 19|  male| 25000|2014-02-02|
|   005|   104|james| 29|female| 10000|2005-01-01|
+------+------+-----+---+------+------+----------+
only showing top 5 rows

particular column

In [ ]:
emp.select("name","age").show(5)

+-----+---+
| name|age|
+-----+---+
| john| 20|
| jane| 23|
|alice| 10|
|  any| 19|
|james| 29|
+-----+---+
only showing top 5 rows

filter to get emp age greater than 30

In [ ]:
emp.filter(emp.age>30).show()

+------+------+-----+---+------+------+----------+
|emp_id|dep_id| name|age|gender|salary| hire_date|
+------+------+-----+---+------+------+----------+
|   006|   105|amina| 60|female| 50000|2015-01-01|
+------+------+-----+---+------+------+----------+

to get in ascending order

In [ ]:
emp.orderBy(emp.salary).show()

+------+------+-----+---+------+------+----------+
|emp_id|dep_id| name|age|gender|salary| hire_date|
+------+------+-----+---+------+------+----------+
|   005|   104|james| 29|female| 10000|2005-01-01|
|   003|   102|alice| 10|female|  2000|2000-01-01|
|   004|   103|  any| 19|  male| 25000|2014-02-02|
|   001|   100| john| 20|  male| 50000|2015-01-01|
|   006|   105|amina| 60|female| 50000|2015-01-01|
|   002|   101| jane| 23|female| 60000|2015-11-01|
+------+------+-----+---+------+------+----------+

to show in descending order

In [ ]:
emp.orderBy(emp.salary.desc()).show()

+------+------+-----+---+------+------+----------+
|emp_id|dep_id| name|age|gender|salary| hire_date|
+------+------+-----+---+------+------+----------+
|   002|   101| jane| 23|female| 60000|2015-11-01|
|   006|   105|amina| 60|female| 50000|2015-01-01|
|   001|   100| john| 20|  male| 50000|2015-01-01|
|   004|   103|  any| 19|  male| 25000|2014-02-02|
|   003|   102|alice| 10|female|  2000|2000-01-01|
|   005|   104|james| 29|female| 10000|2005-01-01|
+------+------+-----+---+------+------+----------+