In [ ]:
from pyspark.sql import SparkSession
spark=(SparkSession.builder.appName("data").getOrCreate())
spark

In [ ]:
ev_data=spark.read.csv('EV_Dataset.csv',header=True)
ev_data.show()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

In [ ]:
df=spark.read.csv('EV_Dataset.csv',header=True,inferSchema=True)
df.show()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- Year: double (nullable = true)
 |-- Month_Name: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Vehicle_Class: string (nullable = true)
 |-- Vehicle_Category: string (nullable = true)
 |-- Vehicle_Type: string (nullable = true)
 |-- EV_Sales_Quantity: double (nullable = true)

load the bad records as null if the permissive is set without making it failed

In [ ]:
df=spark.read.csv('EV_Dataset.csv',header=True,mode="PERMISSIVE")
df.show()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

drop the missing values

In [ ]:
df=spark.read.csv('EV_Dataset.csv',header=True,mode="DROPMALFORMED")
df.show()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

csv to parquet

parquet is in compressed format it show small size

In [ ]:
ev_data.write.mode("overwrite").parquet("EV_Dataset.parquet")

In [ ]:
df_parquet=spark.read.parquet("EV_Dataset.parquet")
df_parquet.show()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

In [ ]:
ev_data.write.orc("EV_Dataset.orc",mode="overwrite")

In [ ]:
df_orc=spark.read.orc("EV_Dataset.orc")
df_orc.show()
df_orc.printSchema()

+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|  Year|Month_Name|    Date|         State|       Vehicle_Class|Vehicle_Category|   Vehicle_Type|EV_Sales_Quantity|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
|2014.0|       jan|1/1/2014|Andhra Pradesh|     ADAPTED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|AGRICULTURAL TRACTOR|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           AMBULANCE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh| ARTICULATED VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|                 BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            CASH VAN|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|CRANE MOUNTED VEH...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EDUCATIONAL INSTI...|             Bus|Institution Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|EXCAVATOR (COMMER...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           FORK LIFT|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|       GOODS CARRIER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           HARVESTER|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            MAXI CAB|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|     M-CYCLE/SCOOTER|      2-Wheelers|    2W_Personal|              1.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAB|      4-Wheelers|      4W_Shared|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|           MOTOR CAR|      4-Wheelers|    4W_Personal|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|            OMNI BUS|             Bus|            Bus|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|PRIVATE SERVICE V...|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|    RECOVERY VEHICLE|          Others|         Others|              0.0|
|2014.0|       jan|1/1/2014|Andhra Pradesh|THREE WHEELER (PA...|      3-Wheelers|      3W_Shared|              0.0|
+------+----------+--------+--------------+--------------------+----------------+---------------+-----------------+
only showing top 20 rows

root
 |-- Year: string (nullable = true)
 |-- Month_Name: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Vehicle_Class: string (nullable = true)
 |-- Vehicle_Category: string (nullable = true)
 |-- Vehicle_Type: string (nullable = true)
 |-- EV_Sales_Quantity: string (nullable = true)

creating the json file

here schema is not defined it is given in the file format

creating the json file

In [ ]:
json_data=[
    {"employee_id":1,"name":"azeya","details":{"department":"hr","salary":5000}},
    {"employee_id":2,"name":"devu","details":{"department":"sales","salary":4000}},
    {"employee_id":3,"name":"charlie","details":{"department":"finance","salary":6500}},

]
df_json_data=spark.createDataFrame(json_data)
df_json_data.write.mode("overwrite").json("employee.json")

reading the json file

In [ ]:
df_json_read=spark.read.json("employee.json")
df_json_read.show()
df_json_read.printSchema()

+---------------+-----------+-------+
|        details|employee_id|   name|
+---------------+-----------+-------+
|  {sales, 4000}|          2|   devu|
|{finance, 6500}|          3|charlie|
|     {hr, 5000}|          1|  azeya|
+---------------+-----------+-------+

root
 |-- details: struct (nullable = true)
 |    |-- department: string (nullable = true)
 |    |-- salary: string (nullable = true)
 |-- employee_id: long (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df_flattened=df_json_read.select(
    "employee_id",
    "name",
    "details.department",
    "details.salary"

)
df_flattened.show()

+-----------+-------+----------+------+
|employee_id|   name|department|salary|
+-----------+-------+----------+------+
|          2|   devu|     sales|  4000|
|          3|charlie|   finance|  6500|
|          1|  azeya|        hr|  5000|
+-----------+-------+----------+------+

in json schema is predifened.more warehouse,cloud it is using,it is structured,cleaned