In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark=SparkSession.builder \
    .appName("myapp") \
    .master("local[*]")\
    .getOrCreate()

In [2]:
sc=spark.sparkContext

In [3]:
data1=spark.read.csv('Admin_data.csv',header=True,inferSchema=True,mode="DROPMALFORMED")
data1.show()

+---------------+---------------+--------+----------+---+---------+-----------------+-----------+---------------+-----+-----------+-------------+---------------+-----+------+--------+--------+-----+-------------+---------+---------+---------+----------+----------+-----------+--------------+---------------+---------+----------+------------+--------+----------+---------+
|     Start_time|       End_time|    Name|    Mobile|Age|Pin-Codes|           Source|Vaccine_cus|    Destination|Miles|Est_Costing|Ride_category|        Purpose| temp|clouds|pressure|humidity| wind|accquire_vehi|free_vehi|Lattitute|Longitude|locationID|rating_cus|Riders_Name|Riders_contact|Trusted_Contact|Rating_RI|Vaccine_Ri|Payment_mode|Discount|Final_cost|   Status|
+---------------+---------------+--------+----------+---+---------+-----------------+-----------+---------------+-----+-----------+-------------+---------------+-----+------+--------+--------+-----+-------------+---------+---------+---------+----------+----------+-----------+--------------+---------------+---------+----------+------------+--------+----------+---------+
| 1/1/2016 21:11| 1/1/2016 21:17|  Almire|9298608912| 21|   318886|      Fort Pierce|        YES|    Fort Pierce|  5.1|      49.98|         Bike| Meal/Entertain|42.42|   1.0| 1012.14|    0.77|11.25|           26|       17|   40.769| -73.9549|       141|         3|    Johanna|    9181026109|            YES|      3.6|       YES|        Gpay|      0%|     49.98|Cancelled|
| 1/2/2016 20:25| 1/2/2016 20:38| Frazier|8621617385| 27|   318886|      Fort Pierce|        YES|    Fort Pierce|  4.8|      47.04|         Bike|Errand/Supplies|42.43|   1.0| 1012.15|    0.76|11.32|           45|       24|  40.7267| -74.0345|        65|         4|    Charlot|    9855403124|            YES|      4.5|       YES|      Phonpe|      0%|     47.04|  Arrived|
| 1/5/2016 17:31| 1/5/2016 17:45|  Editha|9954004976| 20|   318886|      Fort Pierce|        YES|    Fort Pierce|  4.7|      46.06|         Bike|        Meeting| 42.5|   1.0| 1012.15|    0.76|11.07|          731|       36|  40.7316| -73.9873|       100|         5|      Cissy|    9328907059|            YES|      4.8|       YES|       Paytm|      0%|     46.06| Assigned|
| 1/6/2016 14:42| 1/6/2016 15:49|   Deeyn|9885727873| 34|   318886|      Fort Pierce|        YES|West Palm Beach| 63.7|     624.26|         Bike| Customer Visit|42.11|   1.0| 1012.13|    0.77|11.09|           10|        9|  40.7588| -73.9776|        80|         2|     Luelle|    9774674359|             NO|      4.9|       YES| Uber wallet|     10%|   561.834| Assigned|
| 1/6/2016 17:15| 1/6/2016 17:19|  Correy|9661756645| 28|   475241|  West Palm Beach|         NO|West Palm Beach|  4.3|      42.14|         Bike| Meal/Entertain|43.13|   1.0| 1012.14|    0.75|11.49|          814|       62|  40.7594| -73.9722|        90|         3|      Myrle|    9425892986|             NO|      5.0|        NO|        cash|      0%|     42.14| Assigned|
| 1/6/2016 17:30| 1/6/2016 17:35|   Bryan|8721880095| 50|   475241|  West Palm Beach|        YES|     Palm Beach|  7.1|      69.58|         Bike|        Meeting|42.34|   1.0| 1012.15|    0.77|11.49|          220|       46|  40.7383| -74.0403|       228|         4|     Duncan|    9611855033|            YES|      3.0|       YES| Uber wallet|     10%|    62.622|  Arrived|
| 1/7/2016 13:27| 1/7/2016 13:33|  Crissy|8579258893| 68|   265814|             Cary|        YES|           Cary|  0.8|       7.84|         Bike|        Meeting|42.36|   1.0| 1012.15|    0.77|11.46|           36|       28|  40.7223| -73.9887|         7|         5|     Carine|    9700998304|            YES|      3.6|       YES| Uber wallet|     10%|     7.056| Assigned|
| 1/10/2016 8:05| 1/10/2016 8:25|  Kendre|8900099665| 31|   265814|             Cary|        YES|    Morrisville|  8.3|      81.34|         Bike|        Meeting|42.21|   1.0| 1012.16|    0.77|11.37|         1137|      106|   40.762|  -73.979|        74|         5|   Collette|    9212537431|            YES|      3.9|       YES| Uber wallet|     10%|    73.206| Assigned|
|1/10/2016 12:17|1/10/2016 12:44|   Aymer|9918333307| 47|   386077|          Jamaica|        YES|       New York| 16.5|      161.7|         Bike| Customer Visit|42.07|   1.0| 1012.12|    0.78|11.28|          236|      103|  40.7524|  -73.996|       249|         5|     Killie|    9426616674|             NO|      4.2|       YES| Uber wallet|     10%|    145.53|  Arrived|
|1/10/2016 15:08|1/10/2016 15:51|  Gabbey|9050095157| 59|   125733|         New York|         NO|         Queens| 10.8|     105.84|         Bike|        Meeting|43.05|   1.0| 1012.12|    0.75|11.58|           47|       29|  40.7575| -73.9846|        22|         4|    Ellette|    8949025277|             NO|      4.8|        NO|        cash|      0%|    105.84| Assigned|
|1/10/2016 18:18|1/10/2016 18:53|   Cammi|7884885405| 19|   646882|         Elmhurst|        YES|       New York|  7.5|       73.5|         Bike|        Meeting|42.09|   1.0| 1012.13|    0.78|11.41|         1792|      119|  40.7256| -73.9869|       263|         4|      Amara|    9247349792|            YES|      3.6|       YES|        Gpay|      0%|      73.5| Assigned|
|1/10/2016 19:12|1/10/2016 19:32| Carlyle|8333928562| 22|   625132|          Midtown|        YES|    East Harlem|  6.2|      60.76|         Bike|        Meeting|43.28|  0.81|  990.81|    0.71|  8.3|           23|       13|  40.7591| -73.9684|        61|         3|     Ashlee|    9332965757|            YES|      4.5|       YES|        Gpay|      0%|     60.76|  Arrived|
| 1/11/2016 8:55| 1/11/2016 9:21|Zedekiah|8283676665| 74|   210314|      East Harlem|        YES|          NoMad|  6.4|      62.72|         Bike| Temporary Site|43.27|   0.8|   990.8|    0.71|  8.3|           83|       20|  40.7271| -73.9803|       229|         3|        Kim|    9267421665|            YES|      4.8|       YES|      Phonpe|      0%|     62.72| Assigned|
|1/11/2016 11:56|1/11/2016 12:03|   Sioux|8362408033| 75|   484320|Flatiron District|        YES|        Midtown|  1.6|      15.68|         Bike|Errand/Supplies|43.35|  0.82|  990.82|    0.71| 8.24|         1846|       86|  40.6463| -73.7896|       164|         5|      Jacky|    9472034451|             NO|      4.9|       YES|       Paytm|      0%|     15.68|  Arrived|
|1/11/2016 13:32|1/11/2016 13:46| Mathian|9734846586| 62|   625132|          Midtown|         NO|   Midtown East|  1.7|      16.66|         Bike| Meal/Entertain|43.07|  0.82|  990.82|    0.72| 8.28|           57|       39|  40.7564| -73.9167|       237|         5|     Mikkel|    9117822322|             NO|      5.0|        NO| Uber wallet|     10%|    14.994|  Arrived|
|1/11/2016 14:30|1/11/2016 14:43|  Maggie|7951534876| 36|   491563|     Midtown East|        YES|        Midtown|  1.9|      18.62|         Bike| Meal/Entertain|43.35|   0.8|   990.8|    0.71| 8.35|            9|        8|  40.7666| -73.9531|       142|         4|       Geri|    9738692778|            YES|      3.0|       YES|        cash|      0%|     18.62|  Arrived|
|1/12/2016 12:33|1/12/2016 12:49| Maurice|7932768286| 40|   625132|          Midtown|        YES|  Hudson Square|  1.9|      18.62|         Bike| Meal/Entertain| 43.2|   0.8|  990.79|    0.71| 8.31|            4|        2|   40.758| -73.9761|       188|         5|  Stanislas|    9564616492|            YES|      3.6|       YES| Uber wallet|     10%|    16.758| Assigned|
|1/12/2016 12:53|1/12/2016 13:09|    Timi|9323566102| 35|   509117|    Hudson Square|        YES|Lower Manhattan|  4.0|       39.2|         Bike| Meal/Entertain|43.24|   0.8|  990.79|    0.71| 8.32|           81|       37|  40.7238| -73.9821|       237|         5|       Yvon|    9985025265|            YES|      3.9|       YES| Uber wallet|     10%|     35.28|  Arrived|
|1/12/2016 14:42|1/12/2016 14:56|   Janey|8572258661| 55|   223672|  Lower Manhattan|        YES|  Hudson Square|  1.8|      17.64|         Bike|Errand/Supplies|41.95|  0.81|  991.63|    0.73|10.87|         1765|      579|  40.7531| -74.0039|       224|         5|      Jaine|    9593730071|             NO|      4.2|       YES| Uber wallet|     10%|    15.876| Assigned|
|1/12/2016 15:13|1/12/2016 15:28| Huntlee|9974250697| 32|   318886|      Fort Pierce|         NO| Hell's Kitchen|  2.4|      23.52|         Bike| Customer Visit|43.05|  0.81|  990.82|    0.72| 8.31|          766|       65|  40.7389| -74.0393|       238|         5|       Abbi|    9652057745|             NO|      4.8|        NO| Uber wallet|     10%|    21.168| Assigned|
+---------------+---------------+--------+----------+---+---------+-----------------+-----------+---------------+-----+-----------+-------------+---------------+-----+------+--------+--------+-----+-------------+---------+---------+---------+----------+----------+-----------+--------------+---------------+---------+----------+------------+--------+----------+---------+
only showing top 20 rows

In [4]:
data1.count()

500

In [5]:
data2=spark.read.csv("Customer_table.csv",header=True,inferSchema=True,mode="DROPMALFORMED")
data2.show()

+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
|Pickup DateTime|  Drop DateTime|Driver Name|Driver Phone Number|Trip Distance|Trip ID|  Pickup Location|  Drop Location|Trip Duration|Trip Fare|Vehicle Type|   Trip Purpose|Passenger Name|Passenger Phone Number|Scheduled|Passenger Rating|Driver Rated|Payment Method|Payment Discount|Net Fare|Trip Status|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
| 1/1/2016 21:11| 1/1/2016 21:17|     Almire|         9298608912|           21| 318886|      Fort Pierce|    Fort Pierce|          5.1|    49.98|        Bike| Meal/Entertain|       Johanna|            9181026109|      YES|             3.6|         YES|          Gpay|              0%|   49.98|  Cancelled|
| 1/2/2016 20:25| 1/2/2016 20:38|    Frazier|         8621617385|           27| 318886|      Fort Pierce|    Fort Pierce|          4.8|    47.04|        Bike|Errand/Supplies|       Charlot|            9855403124|      YES|             4.5|         YES|        Phonpe|              0%|   47.04|    Arrived|
| 1/5/2016 17:31| 1/5/2016 17:45|     Editha|         9954004976|           20| 318886|      Fort Pierce|    Fort Pierce|          4.7|    46.06|        Bike|        Meeting|         Cissy|            9328907059|      YES|             4.8|         YES|         Paytm|              0%|   46.06|   Assigned|
| 1/6/2016 14:42| 1/6/2016 15:49|      Deeyn|         9885727873|           34| 318886|      Fort Pierce|West Palm Beach|         63.7|   624.26|        Bike| Customer Visit|        Luelle|            9774674359|       NO|             4.9|         YES|   Uber wallet|             10%| 561.834|   Assigned|
| 1/6/2016 17:15| 1/6/2016 17:19|     Correy|         9661756645|           28| 475241|  West Palm Beach|West Palm Beach|          4.3|    42.14|        Bike| Meal/Entertain|         Myrle|            9425892986|       NO|             5.0|          NO|          cash|              0%|   42.14|   Assigned|
| 1/6/2016 17:30| 1/6/2016 17:35|      Bryan|         8721880095|           50| 475241|  West Palm Beach|     Palm Beach|          7.1|    69.58|        Bike|        Meeting|        Duncan|            9611855033|      YES|             3.0|         YES|   Uber wallet|             10%|  76.538|    Arrived|
| 1/7/2016 13:27| 1/7/2016 13:33|     Crissy|         8579258893|           68| 265814|             Cary|           Cary|          0.8|     7.84|        Bike|        Meeting|        Carine|            9700998304|      YES|             3.6|         YES|   Uber wallet|             10%|   8.624|   Assigned|
| 1/10/2016 8:05| 1/10/2016 8:25|     Kendre|         8900099665|           31| 265814|             Cary|    Morrisville|          8.3|    81.34|        Bike|        Meeting|      Collette|            9212537431|      YES|             3.9|         YES|   Uber wallet|             10%|  89.474|   Assigned|
|1/10/2016 12:17|1/10/2016 12:44|      Aymer|         9918333307|           47| 386077|          Jamaica|       New York|         16.5|    161.7|        Bike| Customer Visit|        Killie|            9426616674|       NO|             4.2|         YES|   Uber wallet|             10%|  177.87|    Arrived|
|1/10/2016 15:08|1/10/2016 15:51|     Gabbey|         9050095157|           59| 125733|         New York|         Queens|         10.8|   105.84|        Bike|        Meeting|       Ellette|            8949025277|       NO|             4.8|          NO|          cash|              0%|  105.84|   Assigned|
|1/10/2016 18:18|1/10/2016 18:53|      Cammi|         7884885405|           19| 646882|         Elmhurst|       New York|          7.5|     73.5|        Bike|        Meeting|         Amara|            9247349792|      YES|             3.6|         YES|          Gpay|              0%|    73.5|   Assigned|
|1/10/2016 19:12|1/10/2016 19:32|    Carlyle|         8333928562|           22| 625132|          Midtown|    East Harlem|          6.2|    60.76|        Bike|        Meeting|        Ashlee|            9332965757|      YES|             4.5|         YES|          Gpay|              0%|   60.76|    Arrived|
| 1/11/2016 8:55| 1/11/2016 9:21|   Zedekiah|         8283676665|           74| 210314|      East Harlem|          NoMad|          6.4|    62.72|        Bike| Temporary Site|           Kim|            9267421665|      YES|             4.8|         YES|        Phonpe|              0%|   62.72|   Assigned|
|1/11/2016 11:56|1/11/2016 12:03|      Sioux|         8362408033|           75| 484320|Flatiron District|        Midtown|          1.6|    15.68|        Bike|Errand/Supplies|         Jacky|            9472034451|       NO|             4.9|         YES|         Paytm|              0%|   15.68|    Arrived|
|1/11/2016 13:32|1/11/2016 13:46|    Mathian|         9734846586|           62| 625132|          Midtown|   Midtown East|          1.7|    16.66|        Bike| Meal/Entertain|        Mikkel|            9117822322|       NO|             5.0|          NO|   Uber wallet|             10%|  14.994|    Arrived|
|1/11/2016 14:30|1/11/2016 14:43|     Maggie|         7951534876|           36| 491563|     Midtown East|        Midtown|          1.9|    18.62|        Bike| Meal/Entertain|          Geri|            9738692778|      YES|             3.0|         YES|          cash|              0%|   18.62|    Arrived|
|1/12/2016 12:33|1/12/2016 12:49|    Maurice|         7932768286|           40| 625132|          Midtown|  Hudson Square|          1.9|    18.62|        Bike| Meal/Entertain|     Stanislas|            9564616492|      YES|             3.6|         YES|   Uber wallet|             10%|  20.482|   Assigned|
|1/12/2016 12:53|1/12/2016 13:09|       Timi|         9323566102|           35| 509117|    Hudson Square|Lower Manhattan|          4.0|     39.2|        Bike| Meal/Entertain|          Yvon|            9985025265|      YES|             3.9|         YES|   Uber wallet|             10%|   43.12|    Arrived|
|1/12/2016 14:42|1/12/2016 14:56|      Janey|         8572258661|           55| 223672|  Lower Manhattan|  Hudson Square|          1.8|    17.64|        Bike|Errand/Supplies|         Jaine|            9593730071|       NO|             4.2|         YES|   Uber wallet|             10%|  19.404|   Assigned|
|1/12/2016 15:13|1/12/2016 15:28|    Huntlee|         9974250697|           32| 318886|      Fort Pierce| Hell's Kitchen|          2.4|    23.52|        Bike| Customer Visit|          Abbi|            9652057745|       NO|             4.8|          NO|   Uber wallet|             10%|  25.872|   Assigned|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
only showing top 20 rows

In [6]:
data2.count()

500

In [7]:
data3=spark.read.csv("Riders_data.csv",header=True,inferSchema=True,mode="DROPMALFORMED")
data3.show()
data3.count()

+---------------+---------------+--------+----------+---+------+-----------------+---------------+----+------+----+---------+----------+---+---+-----+-----+-----------+---+-------+---------+
| 1/1/2016 21:11| 1/1/2016 21:17|  Almire|9298608912| 21|318886|     Fort Pierce6|   Fort Pierce7| 5.1|49.989|Bike|  Johanna|9181026109|  3|141|YES15|YES16|       Gpay| 0%|49.9819|Cancelled|
+---------------+---------------+--------+----------+---+------+-----------------+---------------+----+------+----+---------+----------+---+---+-----+-----+-----------+---+-------+---------+
| 1/2/2016 20:25| 1/2/2016 20:38| Frazier|8621617385| 27|318886|      Fort Pierce|    Fort Pierce| 4.8| 47.04|Bike|  Charlot|9855403124|  4| 65|  YES|  YES|     Phonpe| 0%|  47.04|  Arrived|
| 1/5/2016 17:31| 1/5/2016 17:45|  Editha|9954004976| 20|318886|      Fort Pierce|    Fort Pierce| 4.7| 46.06|Bike|    Cissy|9328907059|  5|100|  YES|  YES|      Paytm| 0%|  46.06| Assigned|
| 1/6/2016 14:42| 1/6/2016 15:49|   Deeyn|9885727873| 34|318886|      Fort Pierce|West Palm Beach|63.7|624.26|Bike|   Luelle|9774674359|  2| 80|   NO|  YES|Uber wallet|10%|561.834| Assigned|
| 1/6/2016 17:15| 1/6/2016 17:19|  Correy|9661756645| 28|475241|  West Palm Beach|West Palm Beach| 4.3| 42.14|Bike|    Myrle|9425892986|  3| 90|   NO|   NO|       cash| 0%|  42.14| Assigned|
| 1/6/2016 17:30| 1/6/2016 17:35|   Bryan|8721880095| 50|475241|  West Palm Beach|     Palm Beach| 7.1| 69.58|Bike|   Duncan|9611855033|  4|228|  YES|  YES|Uber wallet|10%| 62.622|  Arrived|
| 1/7/2016 13:27| 1/7/2016 13:33|  Crissy|8579258893| 68|265814|             Cary|           Cary| 0.8|  7.84|Bike|   Carine|9700998304|  5|  7|  YES|  YES|Uber wallet|10%|  7.056| Assigned|
| 1/10/2016 8:05| 1/10/2016 8:25|  Kendre|8900099665| 31|265814|             Cary|    Morrisville| 8.3| 81.34|Bike| Collette|9212537431|  5| 74|  YES|  YES|Uber wallet|10%| 73.206| Assigned|
|1/10/2016 12:17|1/10/2016 12:44|   Aymer|9918333307| 47|386077|          Jamaica|       New York|16.5| 161.7|Bike|   Killie|9426616674|  5|249|   NO|  YES|Uber wallet|10%| 145.53|  Arrived|
|1/10/2016 15:08|1/10/2016 15:51|  Gabbey|9050095157| 59|125733|         New York|         Queens|10.8|105.84|Bike|  Ellette|8949025277|  4| 22|   NO|   NO|       cash| 0%| 105.84| Assigned|
|1/10/2016 18:18|1/10/2016 18:53|   Cammi|7884885405| 19|646882|         Elmhurst|       New York| 7.5|  73.5|Bike|    Amara|9247349792|  4|263|  YES|  YES|       Gpay| 0%|   73.5| Assigned|
|1/10/2016 19:12|1/10/2016 19:32| Carlyle|8333928562| 22|625132|          Midtown|    East Harlem| 6.2| 60.76|Bike|   Ashlee|9332965757|  3| 61|  YES|  YES|       Gpay| 0%|  60.76|  Arrived|
| 1/11/2016 8:55| 1/11/2016 9:21|Zedekiah|8283676665| 74|210314|      East Harlem|          NoMad| 6.4| 62.72|Bike|      Kim|9267421665|  3|229|  YES|  YES|     Phonpe| 0%|  62.72| Assigned|
|1/11/2016 11:56|1/11/2016 12:03|   Sioux|8362408033| 75|484320|Flatiron District|        Midtown| 1.6| 15.68|Bike|    Jacky|9472034451|  5|164|   NO|  YES|      Paytm| 0%|  15.68|  Arrived|
|1/11/2016 13:32|1/11/2016 13:46| Mathian|9734846586| 62|625132|          Midtown|   Midtown East| 1.7| 16.66|Bike|   Mikkel|9117822322|  5|237|   NO|   NO|Uber wallet|10%| 14.994|  Arrived|
|1/11/2016 14:30|1/11/2016 14:43|  Maggie|7951534876| 36|491563|     Midtown East|        Midtown| 1.9| 18.62|Bike|     Geri|9738692778|  4|142|  YES|  YES|       cash| 0%|  18.62|  Arrived|
|1/12/2016 12:33|1/12/2016 12:49| Maurice|7932768286| 40|625132|          Midtown|  Hudson Square| 1.9| 18.62|Bike|Stanislas|9564616492|  5|188|  YES|  YES|Uber wallet|10%| 16.758| Assigned|
|1/12/2016 12:53|1/12/2016 13:09|    Timi|9323566102| 35|509117|    Hudson Square|Lower Manhattan| 4.0|  39.2|Bike|     Yvon|9985025265|  5|237|  YES|  YES|Uber wallet|10%|  35.28|  Arrived|
|1/12/2016 14:42|1/12/2016 14:56|   Janey|8572258661| 55|223672|  Lower Manhattan|  Hudson Square| 1.8| 17.64|Bike|    Jaine|9593730071|  5|224|   NO|  YES|Uber wallet|10%| 15.876| Assigned|
|1/12/2016 15:13|1/12/2016 15:28| Huntlee|9974250697| 32|318886|      Fort Pierce| Hell's Kitchen| 2.4| 23.52|Bike|     Abbi|9652057745|  5|238|   NO|   NO|Uber wallet|10%| 21.168| Assigned|
|1/12/2016 15:42|1/12/2016 15:54|  Evania|9370194252| 66|318886|      Fort Pierce|        Midtown| 2.0|  19.6|Bike|     Mair|9111821429|  5|242|  YES|  YES|       cash| 0%|   19.6|Cancelled|
+---------------+---------------+--------+----------+---+------+-----------------+---------------+----+------+----+---------+----------+---+---+-----+-----+-----------+---+-------+---------+
only showing top 20 rows

499

In [8]:
data1.printSchema()

root
 |-- Start_time: string (nullable = true)
 |-- End_time: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Mobile: long (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Pin-Codes: integer (nullable = true)
 |-- Source: string (nullable = true)
 |-- Vaccine_cus: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- Miles: double (nullable = true)
 |-- Est_Costing: double (nullable = true)
 |-- Ride_category: string (nullable = true)
 |-- Purpose: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- clouds: double (nullable = true)
 |-- pressure: double (nullable = true)
 |-- humidity: double (nullable = true)
 |-- wind: double (nullable = true)
 |-- accquire_vehi: integer (nullable = true)
 |-- free_vehi: string (nullable = true)
 |-- Lattitute: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- locationID: integer (nullable = true)
 |-- rating_cus: integer (nullable = true)
 |-- Riders_Name: string (nullable = true)
 |-- Riders_contact: long (nullable = true)
 |-- Trusted_Contact: string (nullable = true)
 |-- Rating_RI: double (nullable = true)
 |-- Vaccine_Ri: string (nullable = true)
 |-- Payment_mode: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Final_cost: double (nullable = true)
 |-- Status: string (nullable = true)

In [9]:
data2.printSchema()

root
 |-- Pickup DateTime: string (nullable = true)
 |-- Drop DateTime: string (nullable = true)
 |-- Driver Name: string (nullable = true)
 |-- Driver Phone Number: long (nullable = true)
 |-- Trip Distance: integer (nullable = true)
 |-- Trip ID: integer (nullable = true)
 |-- Pickup Location: string (nullable = true)
 |-- Drop Location: string (nullable = true)
 |-- Trip Duration: double (nullable = true)
 |-- Trip Fare: double (nullable = true)
 |-- Vehicle Type: string (nullable = true)
 |-- Trip Purpose: string (nullable = true)
 |-- Passenger Name: string (nullable = true)
 |-- Passenger Phone Number: long (nullable = true)
 |-- Scheduled: string (nullable = true)
 |-- Passenger Rating: double (nullable = true)
 |-- Driver Rated: string (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Payment Discount: string (nullable = true)
 |-- Net Fare: double (nullable = true)
 |-- Trip Status: string (nullable = true)

In [10]:
data3.printSchema()

root
 |-- 1/1/2016 21:11: string (nullable = true)
 |-- 1/1/2016 21:17: string (nullable = true)
 |-- Almire: string (nullable = true)
 |-- 9298608912: long (nullable = true)
 |-- 21: integer (nullable = true)
 |-- 318886: integer (nullable = true)
 |-- Fort Pierce6: string (nullable = true)
 |-- Fort Pierce7: string (nullable = true)
 |-- 5.1: double (nullable = true)
 |-- 49.989: double (nullable = true)
 |-- Bike: string (nullable = true)
 |-- Johanna: string (nullable = true)
 |-- 9181026109: long (nullable = true)
 |-- 3: integer (nullable = true)
 |-- 141: integer (nullable = true)
 |-- YES15: string (nullable = true)
 |-- YES16: string (nullable = true)
 |-- Gpay: string (nullable = true)
 |-- 0%: string (nullable = true)
 |-- 49.9819: double (nullable = true)
 |-- Cancelled: string (nullable = true)

USED CASE
 Drivers who completed ride with non-vaccinated customers.

In [14]:
non_vaccinated_cust=data1.filter(data1.Vaccine_cus=="NO").select("Name","Mobile","Riders_Name")
non_vaccinated_cust.show()

+-------+----------+-----------+
|   Name|    Mobile|Riders_Name|
+-------+----------+-----------+
| Correy|9661756645|      Myrle|
| Gabbey|9050095157|    Ellette|
|Mathian|9734846586|     Mikkel|
|Huntlee|9974250697|       Abbi|
|   Clim|8859680135|       Dora|
|Geordie|8410911653|     Pattin|
| Horten|8215695084|        Kip|
|    Ray|8407563494|     Haskel|
|  Boyce|9183218576|      Cindi|
|   Berk|8875035370|    Yasmeen|
| Aubert|9524013920|       Burk|
|Stavros|8197008138|      Natty|
| Norene|9202013524|       Kain|
|  Stace|7867224866|        Pen|
| Stefan|9194958211|      Sandy|
|Cassius|9309163124|   Kimberly|
| Crysta|9003775113|        Tim|
|  Chadd|9451864545|    Carolus|
|    Val|8472948148|      Marta|
|  Glori|8563960701|    Romonda|
+-------+----------+-----------+
only showing top 20 rows

In [15]:
non_vaccinated_cust.count()

100

5.How many vaccinated customers have
travelled.

In [16]:
vaccinated_customers=data1.filter(data1.Vaccine_cus=="YES").select("Name","mobile")
vaccinated_customers.show()

+--------+----------+
|    Name|    mobile|
+--------+----------+
|  Almire|9298608912|
| Frazier|8621617385|
|  Editha|9954004976|
|   Deeyn|9885727873|
|   Bryan|8721880095|
|  Crissy|8579258893|
|  Kendre|8900099665|
|   Aymer|9918333307|
|   Cammi|7884885405|
| Carlyle|8333928562|
|Zedekiah|8283676665|
|   Sioux|8362408033|
|  Maggie|7951534876|
| Maurice|7932768286|
|    Timi|9323566102|
|   Janey|8572258661|
|  Evania|9370194252|
|   Mayne|9557445925|
|    Iain|9313837934|
|   Moore|8692496691|
+--------+----------+
only showing top 20 rows

In [14]:
vaccinated_customers.count()

400

6.Customers who completed ride with non-vaccinated Drivers.

In [17]:
non_vaccinated_drivers=data1.filter(data1.Vaccine_Ri=="NO").select("Name","Riders_Name","Riders_contact")
non_vaccinated_drivers.show()

+-------+-----------+--------------+
|   Name|Riders_Name|Riders_contact|
+-------+-----------+--------------+
| Correy|      Myrle|    9425892986|
| Gabbey|    Ellette|    8949025277|
|Mathian|     Mikkel|    9117822322|
|Huntlee|       Abbi|    9652057745|
|   Clim|       Dora|    9878699673|
|Geordie|     Pattin|    9611982749|
| Horten|        Kip|    9469489820|
|    Ray|     Haskel|    9199720906|
|  Boyce|      Cindi|    9080785128|
|   Berk|    Yasmeen|    9942981425|
| Aubert|       Burk|    9891913387|
|Stavros|      Natty|    9385978092|
| Norene|       Kain|    9790394844|
|  Stace|        Pen|    9721300884|
| Stefan|      Sandy|    9699969249|
|Cassius|   Kimberly|    9046703627|
| Crysta|        Tim|    9770864241|
|  Chadd|    Carolus|    8900650556|
|    Val|      Marta|    9674805081|
|  Glori|    Romonda|    9020496201|
+-------+-----------+--------------+
only showing top 20 rows

In [18]:
non_vaccinated_drivers.count()

100

7. Who is the customer completed highest number of rides

In [36]:
from pyspark.sql.functions import count,col,countDistinct,when

In [20]:
highest_no_rides=data2.groupBy("passenger Name").agg(count("*").alias("number_of_rides")).orderBy(col("number_of_rides").desc())

In [21]:
highest_no_rides.show()

+--------------+---------------+
|passenger Name|number_of_rides|
+--------------+---------------+
|          Cher|             10|
|        Damien|              5|
|        Mikkel|              5|
|      Sergeant|              5|
|       Saundra|              5|
|         Natty|              5|
|         Margi|              5|
|          Elsy|              5|
|          Jens|              5|
|         Marve|              5|
|         Sandy|              5|
|          Geri|              5|
|        Aylmer|              5|
|       Carolus|              5|
|         Marta|              5|
|         Cissy|              5|
|      Dorothee|              5|
|      Charmian|              5|
|           Ede|              5|
|      Loutitia|              5|
+--------------+---------------+
only showing top 20 rows

In [22]:
highest_no_rides.show(1)

+--------------+---------------+
|passenger Name|number_of_rides|
+--------------+---------------+
|          Cher|             10|
+--------------+---------------+
only showing top 1 row

In [23]:
highest_no_rides=data2.groupBy("Driver Name").agg(count("*").alias("driver_number_of_rides")).orderBy(col("driver_number_of_rides").desc())

In [24]:
highest_no_rides.show()

+-----------+----------------------+
|Driver Name|driver_number_of_rides|
+-----------+----------------------+
|    Mathian|                     2|
|     Teresa|                     2|
|      Mayne|                     2|
|  Westbrook|                     2|
|      Debor|                     2|
|     Raeann|                     2|
|        Gus|                     2|
|    Othello|                     2|
|    Frazier|                     2|
|   Roderigo|                     2|
|     Bidget|                     2|
|    Lisetta|                     2|
|     Sianna|                     1|
|      Tessi|                     1|
|      Baron|                     1|
|     Earvin|                     1|
|       Trev|                     1|
|   Rosemary|                     1|
|     Lorrin|                     1|
|   Melisent|                     1|
+-----------+----------------------+
only showing top 20 rows

1.How many no of customers take trip from
same location.

In [25]:
no_cust=data2.groupBy("pickup location").agg(count("Passenger Name").alias("customer_count")).orderBy("customer_count" ,ascending=False)
no_cust.show()

+-----------------+--------------+
|  pickup location|customer_count|
+-----------------+--------------+
|      Fort Pierce|           108|
|          Midtown|            78|
|  West Palm Beach|            54|
|             Cary|            52|
|  Lower Manhattan|            26|
|     Midtown East|            26|
|Flatiron District|            26|
|      East Harlem|            26|
|    Hudson Square|            26|
|          Jamaica|            26|
|         New York|            26|
|         Elmhurst|            26|
+-----------------+--------------+


3.what are the longest locations of customer
travelled.

In [26]:
longest_locations=data2.orderBy(col("Trip Distance").desc()).select("Pickup Location","Drop Location","Trip Duration")
longest_locations.show()

+---------------+----------------+-------------+
|Pickup Location|   Drop Location|Trip Duration|
+---------------+----------------+-------------+
|    Fort Pierce|            Cary|          5.7|
|    East Harlem|     Whitebridge|          7.6|
|   Midtown East|          Durham|         10.4|
|       Elmhurst|            Cary|          1.6|
|           Cary|     Whitebridge|          3.2|
|West Palm Beach|         Houston|         30.2|
|    Fort Pierce|      Tanglewood|          6.0|
|Lower Manhattan|     Morrisville|          8.4|
|       New York|            Cary|         10.4|
|    Fort Pierce|       Kissimmee|         11.0|
|    Fort Pierce|            Cary|          5.6|
|    Fort Pierce|    Port Bolivar|          2.1|
|West Palm Beach|         Midtown|          6.2|
|        Jamaica|       Kissimmee|          5.1|
|        Midtown|            Cary|          9.9|
|West Palm Beach|     Whitebridge|          1.4|
|West Palm Beach|         Houston|         21.9|
|  Hudson Square|            Apex|          5.8|
|           Cary|Unknown Location|         43.7|
|Lower Manhattan|Unknown Location|         10.0|
+---------------+----------------+-------------+
only showing top 20 rows

2.what is priority for each ride category from
each location.

In [27]:
ride_priority = data2.groupBy("Pickup Location", "Vehicle Type").agg(count("Trip ID").alias("ride_count")).orderBy(col("ride_count").desc())

ride_priority.show()

+---------------+------------+----------+
|Pickup Location|Vehicle Type|ride_count|
+---------------+------------+----------+
|    Fort Pierce|        Bike|        25|
|    Fort Pierce|  Uber-Micro|        24|
|    Fort Pierce|        Auto|        21|
|    Fort Pierce|       Prime|        19|
|    Fort Pierce|   Uber-Mini|        19|
|        Midtown|   Uber-Mini|        17|
|        Midtown|        Bike|        16|
|        Midtown|        Auto|        15|
|        Midtown|  Uber-Micro|        15|
|        Midtown|       Prime|        15|
|West Palm Beach|        Bike|        13|
|           Cary|       Prime|        12|
|West Palm Beach|   Uber-Mini|        12|
|           Cary|        Auto|        12|
|           Cary|   Uber-Mini|        12|
|West Palm Beach|       Prime|        11|
|West Palm Beach|  Uber-Micro|         9|
|West Palm Beach|        Auto|         9|
|           Cary|  Uber-Micro|         8|
|           Cary|        Bike|         8|
+---------------+------------+----------+
only showing top 20 rows

In [28]:
highest_no_rides=data2.groupBy("Driver Name").agg(count("*").alias("driver_number_of_rides")).orderBy(col("driver_number_of_rides").desc())

In [ ]:
10.what is the count of different destination
locations from same start location and also
completed ride

In [29]:
completed_rides = data2.select("*").where((col("Pickup Location")!=col("Drop Location")) & (col("Trip Status")=="Arrived"))
completed_rides.show()

+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
|Pickup DateTime|  Drop DateTime|Driver Name|Driver Phone Number|Trip Distance|Trip ID|  Pickup Location|  Drop Location|Trip Duration|Trip Fare|Vehicle Type|   Trip Purpose|Passenger Name|Passenger Phone Number|Scheduled|Passenger Rating|Driver Rated|Payment Method|Payment Discount|Net Fare|Trip Status|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
| 1/6/2016 17:30| 1/6/2016 17:35|      Bryan|         8721880095|           50| 475241|  West Palm Beach|     Palm Beach|          7.1|    69.58|        Bike|        Meeting|        Duncan|            9611855033|      YES|             3.0|         YES|   Uber wallet|             10%|  76.538|    Arrived|
|1/10/2016 12:17|1/10/2016 12:44|      Aymer|         9918333307|           47| 386077|          Jamaica|       New York|         16.5|    161.7|        Bike| Customer Visit|        Killie|            9426616674|       NO|             4.2|         YES|   Uber wallet|             10%|  177.87|    Arrived|
|1/10/2016 19:12|1/10/2016 19:32|    Carlyle|         8333928562|           22| 625132|          Midtown|    East Harlem|          6.2|    60.76|        Bike|        Meeting|        Ashlee|            9332965757|      YES|             4.5|         YES|          Gpay|              0%|   60.76|    Arrived|
|1/11/2016 11:56|1/11/2016 12:03|      Sioux|         8362408033|           75| 484320|Flatiron District|        Midtown|          1.6|    15.68|        Bike|Errand/Supplies|         Jacky|            9472034451|       NO|             4.9|         YES|         Paytm|              0%|   15.68|    Arrived|
|1/11/2016 13:32|1/11/2016 13:46|    Mathian|         9734846586|           62| 625132|          Midtown|   Midtown East|          1.7|    16.66|        Bike| Meal/Entertain|        Mikkel|            9117822322|       NO|             5.0|          NO|   Uber wallet|             10%|  14.994|    Arrived|
|1/11/2016 14:30|1/11/2016 14:43|     Maggie|         7951534876|           36| 491563|     Midtown East|        Midtown|          1.9|    18.62|        Bike| Meal/Entertain|          Geri|            9738692778|      YES|             3.0|         YES|          cash|              0%|   18.62|    Arrived|
|1/12/2016 12:53|1/12/2016 13:09|       Timi|         9323566102|           35| 509117|    Hudson Square|Lower Manhattan|          4.0|     39.2|        Bike| Meal/Entertain|          Yvon|            9985025265|      YES|             3.9|         YES|   Uber wallet|             10%|   43.12|    Arrived|
|1/12/2016 16:02|1/12/2016 17:00|      Mayne|         9557445925|           50| 318886|      Fort Pierce|  Queens County|         15.1|   147.98|        Bike|        Meeting|       Teriann|            9115587792|      YES|             4.5|         YES|          Gpay|              0%|  147.98|    Arrived|
|1/13/2016 13:54|1/13/2016 14:07|       Iain|         9313837934|           35| 318886|      Fort Pierce|        Gulfton|         11.2|   109.76|        Bike|        Meeting|       Carmine|            9904076761|      YES|             4.8|         YES|          Gpay|              0%|  109.76|    Arrived|
|1/13/2016 15:00|1/13/2016 15:28|      Moore|         8692496691|           33| 475241|  West Palm Beach|       Downtown|         11.8|   115.64|        Bike|        Meeting|         Margi|            9843393882|       NO|             4.9|         YES|        Phonpe|              0%|  115.64|    Arrived|
|1/15/2016 11:43|1/15/2016 12:03|      Tobye|         8168506868|           58| 386077|          Jamaica|         Durham|         10.4|    156.0|        Auto| Meal/Entertain|          Jens|            9725097468|      YES|             3.9|         YES|   Uber wallet|             10%|   171.6|    Arrived|
|1/15/2016 13:26|1/15/2016 13:44|    Skipton|         7898380776|           79| 125733|         New York|           Cary|         10.4|    156.0|        Auto| Meal/Entertain|          Elsy|            9465339838|       NO|             4.2|         YES|   Uber wallet|             10%|   171.6|    Arrived|
|1/18/2016 16:13|1/18/2016 16:24|    Etienne|         9363597337|           34| 625132|          Midtown|    Whitebridge|          4.7|     70.5|        Auto| Meal/Entertain|        Aylmer|            8909617891|      YES|             3.6|         YES|   Uber wallet|             10%|   77.55|    Arrived|
|1/19/2016 10:55|1/19/2016 11:09|      Pauli|         9283504121|           80| 210314|      East Harlem|    Whitebridge|          7.6|    114.0|        Auto| Temporary Site|         Price|            9647090347|      YES|             4.5|         YES|          cash|              0%|   114.0|    Arrived|
|1/20/2016 10:36|1/20/2016 11:11|       Lind|         8262917624|           33| 484320|Flatiron District|        Raleigh|         17.1|    256.5|        Auto|        Meeting|     Siegfried|            9419083292|      YES|             4.8|         YES|          Gpay|              0%|   256.5|    Arrived|
|1/20/2016 11:48|1/20/2016 12:19|    Gillian|         8679995190|           21| 625132|          Midtown|        Umstead|         15.1|    226.5|        Auto|        Meeting|        Shaine|            9601921145|       NO|             4.9|         YES|          Gpay|              0%|   226.5|    Arrived|
|1/20/2016 13:25|1/20/2016 14:19|     Horten|         8215695084|           43| 491563|     Midtown East|           Cary|         40.2|    603.0|        Auto| Customer Visit|           Kip|            9469489820|       NO|             5.0|          NO|        Phonpe|              0%|   603.0|    Arrived|
|1/21/2016 14:25|1/21/2016 14:29|       Elsy|         9238121884|           70| 625132|          Midtown|           Cary|          1.6|     24.0|        Auto|Errand/Supplies|         Marve|            9503219756|      YES|             3.0|         YES|         Paytm|              0%|    24.0|    Arrived|
|1/21/2016 14:43|1/21/2016 14:51|      Lotty|         8987274835|           69| 509117|    Hudson Square|           Cary|          2.4|     36.0|        Auto| Meal/Entertain|         Golda|            9151458155|      YES|             3.6|         YES|   Uber wallet|             10%|    32.4|    Arrived|
|1/26/2016 10:41|1/26/2016 10:50|      Raviv|         9643875551|           41| 318886|      Fort Pierce|      Hazelwood|          2.0|     30.0|        Auto| Meal/Entertain|     Rosemaria|            9940412574|       NO|             4.2|         YES|   Uber wallet|             10%|    33.0|    Arrived|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
only showing top 20 rows

In [30]:
destination_count=completed_rides.groupBy("Pickup Location").agg(count("Drop Location").alias("unique_destinations"))
destination_count.show()

+-----------------+-------------------+
|  Pickup Location|unique_destinations|
+-----------------+-------------------+
|      Fort Pierce|                 47|
|  Lower Manhattan|                  9|
|          Midtown|                 36|
|     Midtown East|                 16|
|Flatiron District|                 15|
|      East Harlem|                 10|
|    Hudson Square|                  9|
|  West Palm Beach|                 30|
|          Jamaica|                 12|
|             Cary|                 17|
|         New York|                  8|
|         Elmhurst|                  8|
+-----------------+-------------------+

In [31]:
destination_count=completed_rides.groupBy("Pickup Location").agg(countDistinct("Drop Location").alias("unique"))
destination_count.show(5)

+-----------------+------+
|  Pickup Location|unique|
+-----------------+------+
|      Fort Pierce|    30|
|  Lower Manhattan|     7|
|          Midtown|    19|
|     Midtown East|    11|
|Flatiron District|     9|
+-----------------+------+
only showing top 5 rows

11.what is the most expensive Drive.

In [33]:
expensive_drive=data2.select("Pickup Location","Drop Location","Trip Fare").where(col("Pickup Location")!=col("Drop Location")).orderBy(col("Trip Fare").desc())
expensive_drive.show()

+-----------------+-------------------+---------+
|  Pickup Location|      Drop Location|Trip Fare|
+-----------------+-------------------+---------+
|      Fort Pierce|               Katy|   3400.0|
|      Fort Pierce|       Jacksonville|  3040.94|
|          Midtown|          Ridgeland|   2613.0|
|Flatiron District|               Cary|   2389.5|
|      East Harlem|           Florence|   2160.0|
|      Fort Pierce|          Kissimmee|   1969.8|
|      Fort Pierce|            Houston|   1710.0|
|      Fort Pierce|              Latta|   1411.2|
|             Cary|   Unknown Location|   1311.0|
|         Elmhurst|       Jacksonville|   1207.5|
|         New York|      Daytona Beach|   1159.5|
|    Hudson Square|          Galveston|   1095.0|
|          Midtown|            Houston|   1053.0|
|      East Harlem|            Midtown|    768.0|
|  West Palm Beach|      San Francisco|    768.0|
|  West Palm Beach|            Houston|    755.0|
|          Midtown|   Unknown Location|    705.0|
|             Cary|         R?walpindi|    693.0|
|Flatiron District|Greater Greenspoint|    690.0|
|          Midtown|               Cary|    656.0|
+-----------------+-------------------+---------+
only showing top 20 rows

In [34]:
expensive_drive=data2.select("Pickup Location","Drop Location","Net Fare").where(col("Pickup Location")!=col("Drop Location")).orderBy(col("Net Fare").desc())
expensive_drive.show()

+-----------------+----------------+--------+
|  Pickup Location|   Drop Location|Net Fare|
+-----------------+----------------+--------+
|      Fort Pierce|    Jacksonville|3345.034|
|      Fort Pierce|            Katy|  3060.0|
|          Midtown|       Ridgeland|  2613.0|
|Flatiron District|            Cary|  2389.5|
|      Fort Pierce|       Kissimmee| 2166.78|
|      East Harlem|        Florence|  1944.0|
|      Fort Pierce|         Houston|  1710.0|
|      Fort Pierce|           Latta| 1552.32|
|             Cary|Unknown Location|  1311.0|
|         Elmhurst|    Jacksonville|  1207.5|
|    Hudson Square|       Galveston|  1204.5|
|         New York|   Daytona Beach|  1159.5|
|          Midtown|         Houston|  1158.3|
|  West Palm Beach|   San Francisco|   844.8|
|      East Harlem|         Midtown|   768.0|
|  West Palm Beach|         Houston|   755.0|
|          Midtown|            Cary|   721.6|
|      East Harlem|      Katunayaka|   706.2|
|          Midtown|Unknown Location|   705.0|
|             Cary|      R?walpindi|   693.0|
+-----------------+----------------+--------+
only showing top 20 rows

In [ ]:


9.what are first 10 age groups which uses
uber services mostly.

In [39]:
data_age=data1.withColumn("age_group",when(col("age").between(18,25),"18-25")
                                     .when(col("age").between(26,35),"26-35")
                          .when(col("age").between(36,45),"36-45")
                          .when(col("age").between(46,55),"46-55")
                          .when(col("age").between(56,65),"56-65")
                          .otherwise("66+"))
age_group_count=data_age.groupBy("age_group").count()
age_group_count.show()

+---------+-----+
|age_group|count|
+---------+-----+
|    18-25|   65|
|    26-35|   85|
|    46-55|   74|
|    36-45|   70|
|    56-65|   58|
|      66+|  148|
+---------+-----+