In [12]:
#int valu pass by reference
a=1
b=2
print("The value of a is :",a)
print("The value of b is: " ,b)
print("value of a {} and value of b {}".format(a,b))
print("value of a {} and value of b {}".format(b,a))
print("value of a {0} and value of b {1}".format(a,b))
print("value of a {1} and value of b {0}".format(b,a))

The value of a is : 1
The value of b is:  2
value of a 1 and value of b 2
value of a 2 and value of b 1
value of a 1 and value of b 2
value of a 1 and value of b 2

In [15]:
#string value
my="country"
name_is="India"
print("i love my {1},name_is {0}".format(name_is,my))

i love my country,name_is India

In [18]:
#print without reference variable or pass by value
print("my name is {} {} from {}".format('bill','gate','microsoft'))

my name is bill gate from microsoft

In [19]:
#enter input by user
num=input("enter the num")
print(num)

enter the num 1

1

In [20]:

num=int(input("enter the num"))
print(num)

enter the num 1

1

In [22]:
#entering multiple values
x=input("enter the 1 digit of pin:"),input("enter the 2 digit of pin:"),input("enter the 3 digit of pin:"),input("enter the 4 digit of pin:")
print(x)

enter the 1 digit of pin: 1
enter the 2 digit of pin: 2
enter the 3 digit of pin: 3
enter the 4 digit of pin: 6

('1', '2', '3', '6')

x=input("enter the 1 digit of pin:"),input("enter the 2 digit of pin:"),input("enter the 3 digit of pin:"),input("enter the 4 digit of pin:")
print(x)

operators

In [27]:
#logical opeartors
a=True
b=False
print(a,b)
print(not b)
print(a or b)
print(a and b)

True False
True
True
False

In [29]:

a=5
b=5
print(id(a))
print(id(b))
print(type(a))
print(type(b))
print(a is b)
print(a is not b)

140724954583976
140724954583976
<class 'int'>
<class 'int'>
True
False

In [32]:
l1=[1,2,3]
l2=[1,2,3]
print(id(l1))
print(id(l2))
print(l1 is l2)

2319571317696
2319571156224
False

In [35]:
# membership operator
l1={2,7,4}
print(4 in l1)
print(5 in l1)
print(5 not in l1)

True
False
True

In [38]:
x=100
if(x>10):
    print("x is larger")
else:
    print("x is smaller")

x is larger

In [41]:
num=10
if None:
    print("number is positive")
print("this will print always")

this will print always

In [46]:
a=10
b=2
c=5
if (a>=b and a>=c):
    print("a is largestt")
elif (b>=a and b>=c):
    print("b is largest")
elif (c>=a and c>=b):
    print("c is largest")
else:
    print("num not found")

a is largestt

In [ ]:
a=10
b=2
c=5
if (a>=b and a>=c):
    print("a is largestt")
elif (b>=a and b>=c):
    print("b is largest")
elif (c>=a and c>=b):
    print("c is largest")

In [49]:
num=20
if (num>10 or num>20):
    if (num>20):
        print("no is positive")
    else:
        print("second division")
else:
    print("fail")

second division

In [50]:
a=[10,20,30,40,50]
product=2
for ele in a:
    product*=ele
    print(product)

20
400
12000
480000
24000000

In [51]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [52]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [53]:
#for loop with else
x=[1,2,3,4]
for data in x:
    print(data)
else:
    print("no data available in x")

1
2
3
4
no data available in x

In [56]:
for i in range(1,11):
    if i%2==0:
        print("even number",i)
    else:
        print("odd number",i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10

In [59]:
str=input("enter the string")
reverse=""
for i in str:
    reverse=i+reverse
print(reverse)

enter the string moon

noom

In [63]:
str=input("enter the string")
reverse=""
for i in str:
    reverse=i+reverse
if str==reverse:
    print("the string {} is pallindrome".format(str))
else:
    print("the string {} is not pallindrome".format(str))

enter the string dada

the string dada is not pallindrome

In [65]:
st=input("enter the string")
if st==st[::-1]:
    print("the string is pallindrome")
else:
    print("string is not pallindrome")

enter the string malayalam

the string is pallindrome

In [ ]:
num=int(input("enter the number"))
if num>

In [70]:
def show_name(name):
    """
    THIS FUNCTION SHOW NAME
    """
    print("name is" ,name)
show_name("azeya")

name is azeya

In [72]:
def get_sum(lst):
    """
    THIS FUNCTION SHOW NAME
    """
    all=0
    for num in lst:
        all+=num
        print(all)
    return all
lst1=get_sum([1,2,3,4])
print(get_sum.__doc__)

1
3
6
10

    THIS FUNCTION SHOW NAME

In [76]:
global_variable="this is a global variable"
def lst():
    local_variable="this is a local variable"
    print(local_variable)
    print(global_variable)

lst()
print(global_variable)

this is a local variable
this is a global variable
this is a global variable

In [77]:

def hcf_numbers(num1,num2):
    if num1<num2:
        smaller=num1
    else:
        smaller=num2
    for i in range(1,smaller+1):
        if ((num1%i==0) and (num2%i==0)):
            hcf=i
    return hcf
num1=6
num2=18
hcf_numbers(num1,num2)

6

In [78]:
lst=-100
print(abs(lst))

100

In [79]:
lst=[1,7,0,-1]
print(all(lst))

False

In [80]:
lst=[]
print(all(lst))

True

In [81]:
i=[-1]
print(all(i))

True

In [84]:
lst=[]
print(type(lst))
print(dir(lst))
lst1=tuple(lst)
print(type(lst1))
print(dir(lst1))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
<class 'tuple'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [85]:
print(divmod(12,6))

(2, 0)

In [86]:
lst=[10,20,30,40,50]
for index,num in enumerate(lst,start=0):
    print("index {0} has value {1}".format(index,num))

index 0 has value 10
index 1 has value 20
index 2 has value 30
index 3 has value 40
index 4 has value 50

In [91]:
def check_positive(num):
    if num>0:
        return num
print(check_positive(-1))

None

In [95]:
lst1_lst=range(-10,10)
lst2_lst=list(filter(lambda n:n%2!=0 ,lst1_lst))
for i in lst2_lst:
    print(i)

-9
-7
-5
-3
-1
1
3
5
7
9

In [97]:
lst1_lst=range(-10,10)
lst2_lst=list(filter(lambda n:n>0,lst1_lst))
for i in lst2_lst:
    print(i)

1
2
3
4
5
6
7
8
9

In [98]:
lst=[1,2,3,4]
squared1=[]
squared2=[]
for num in lst:
    squared1.append(num **2)
    squared2.append(num **3)
print(squared1)
print(squared2)

[1, 4, 9, 16]
[1, 8, 27, 64]

In [101]:
num=[1,2,3,4]
def hall_square(num):
    return num **2
squared=list(map(hall_square,[1,2,3,4]))
squared1=list(map(lambda x:x **2,[1,2,3,4))
print(squared)

[1, 4, 9, 16]

In [103]:
squared1=list(map(lambda x:x **2,[1,2,3,4]))
print(squared1)

[1, 4, 9, 16]

In [106]:
p=1
lisss=[1,2,3,4]
for num in lisss:
    p*=num
print(p)

24

In [108]:
from functools import reduce
def multiply(x,y):
    return x*y
prod=reduce(multiply,lisss)
print(prod)

24

In [109]:
pr=reduce(lambda x,y: x*y,lisss)
print(pr)

24

In [110]:
p=reduce(lambda x,y: x*y,[1,2,3,4])
print(p)

24

In [114]:
p=reduce(lambda x: x **2, [1,2,3,4])
print(p)

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [ ]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def mul(x,y):
    return x*y
def div(x,y):
    return x/y
print("select the operations")
print("1.addition")
print("2.subtraction")
print("3.multiplication")
print("4.division")
while True:
    choice=input("enter the choices from 1/2/3/4")
    if choice in ('1','2','3','4'):
        try:
            num1=float(input("enter the num1:"))
            num2=float(input("enter the num2:"))
        except ValueError:
            print("invalid input")
            continue
        if choice=='1':
            print(num1, "+", num2 ,"=" ,add(num1,num2))
        elif choice=='2':
            print(num1, "-",num2,"=",sub(num1,num2))
        elif choice=='3':
            print(num1,"*",num2,"=",mul(num1,num2))
        elif choice=='4':
            print(num1,"/",num2,"=",div(num1,num2))